pipeline/PL_SRP_DataLoadToStaging.json
{
	"name": "PL_SRP_DataLoadToStaging",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select SourceSchemaName\r\n, SourceTableName\r\n,SourceQuery + case\r\nwhen LastwatermarkValue IS NULL \r\n\tAND WaterMarkDateType ='datetime'\r\n\tthen '01/01/1900'\r\nwhen LastwatermarkValue IS NULL \r\n\tAND WaterMarkDateType ='int'\r\n\tthen '0'\r\nwhen LastwatermarkValue IS NULL \r\n\tAND WaterMarkDateType ='N/A'\r\n\tthen ''\r\n\tElse ''''+LastwatermarkValue+''''\r\n\tend as SourceQuery,\r\n\tSourceName\r\nFROM incrementalLoadMetadata\r\nWHERE SourceName = ''\r\nAND isActive =1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ls_OnPremData",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "incrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy To csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"parallelCopies": 8,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sourceSql_RE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_sink",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('staging/',item().SourceName,'/tempcsv/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().SourceTableName,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "csv to parquet",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Get Max Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"snapshot": true,
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Small"
				}
			},
			{
				"name": "Get Max Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LoadData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\r\n(SELECT MAX(RegisteredPropertyId) FROM dbo.tbRegisteredProperty ) AS MaxtbRegisteredProperty,\r\n(SELECT MAX(ServiceRequestID) FROM dbo.tbSearchResult ) AS MaxtbSearchResult,\r\n(SELECT MAX(StatusDate) FROM dbo.tbServiceRequest ) AS MaxtbServiceRequest,\r\n(SELECT MAX(propertyID) FROM dbo.tbProperty ) AS MaxtbProperty,\r\n(SELECT MAX(StatusDate) FROM dbo.tbSearch ) AS MaxtbSearch,\r\n(SELECT MAX(InstrumentID) FROM dbo.tbInstrument ) AS MaxtbInstrument,\r\n(SELECT MAX(partyid) FROM dbo.tbParty ) AS MaxtbParty,\r\n(SELECT MAX(RegisteredOwnerID) FROM dbo.tbRegisteredOwner ) AS MaxtbRegisteredOwner;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					}
				}
			},
			{
				"name": "Update LastLoadDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "csv to parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbRegisteredProperty}' \nWHERE SourceName='srp' AND SourceTableName='tbRegisteredProperty';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbSearchResult}' \nWHERE SourceName='srp' AND SourceTableName='tbSearchResult';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbServiceRequest}' \nWHERE SourceName='srp' AND SourceTableName='tbServiceRequest';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbProperty}' \nWHERE SourceName='srp' AND SourceTableName='tbProperty';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbSearch}' \nWHERE SourceName='srp' AND SourceTableName='tbSearch';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbInstrument}' \nWHERE SourceName='srp' AND SourceTableName='tbInstrument';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbParty}' \nWHERE SourceName='srp' AND SourceTableName='tbParty';\n\nUPDATE dbo.IncrementalLoadMetadata \nSET LastWatermarkValue='@{activity('Get Max Date').output.firstRow.MaxtbRegisteredOwner}' \nWHERE SourceName='srp' AND SourceTableName='tbRegisteredOwner';\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete csv Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Update LastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "SRP"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-29T13:44:51Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}